<h1>{{ course.courseName }}</h1>
    {% if messages %}
<ul class="messages">
    	{% for message in messages %}
    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    	{% endfor %}
</ul>
	{% endif %}
<h2> New Post</h2>
<form action="{% url 'lectut:posting' course.id %}" enctype = "multipart/form-data" method="post">
{% csrf_token %}
{{ form1 }}
<input type="submit" value="Post" />
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<h2>POSTS</h2>

	{% for pos in course.post_set.all reversed %}
	<ul>
		<li><ul><li>{{ pos.post}}</li><li>Posted on : {{ pos.pub_time}}</li>
		{% if pos.docfile %} <li><a href="{{ pos.docfile.url }}">File</a></li>{% endif %}
		<li>Posted by : <a href="{% url 'lectut:userprofile' pos.poster %}">{{ pos.poster }}</a></li>
		<li><form action="{% url 'lectut:commenting' course.id pos.id%}" method="post">
			{% csrf_token %}
			{{ form2 }}
			<input type="submit" value="Post" />
			</form>
			<span id = "{{ pos.id }}-status">
				{% if request.user in pos.likes.all %} Liked {% endif %}
				{% if request.user in pos.unlikes.all %} Unliked {% endif %}
			</span>
			<li id = '{{pos.id }}-like'> Likes: {{ pos.likes.count }}</li>
			<li id = '{{pos.id }}-unlike'> Unlikes: {{ pos.unlikes.count }}</li>
			<input type="button" id="{{ pos.id }}-likebutton" name="{{ pos.id }}" value="Like" onclick="likepost(this.name)" />
			<input type="button" id="{{ pos.id }}-unlikebutton" name="{{ pos.id }}" value="Unlike" onclick="unlikepost(this.name)" />


			{% for com in pos.comment_set.all reversed %}
			<ul>
				<li>{{ com.comment }}</li><li>{{ com.pub_time }}</li>
				<li><a href="{% url 'lectut:userprofile' com.commenter %}">By: {{ com.commenter }}</a></li>
			</ul>
			{% endfor %}
		</li>	
		</ul>
	</ul>
	{% endfor%}

<h2><a href="{% url 'lectut:logo' %}">LOGOUT</a></h2>	
<h2><a href="{% url 'lectut:homepage' %}">HOME</a></h2>

<script>

function likepost(name){
		console.log(name);
      $.ajax({
               type: "POST",
               url: "{% url 'lectut:like' %}",
               data: {'post_id': name, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
               		$('#'+name+'-status').text("")
                    if( response.like!=0){ $('#'+name+'-status').text('Liked')};
                    if(response.unlike !=0) {$('#'+name+'-status').text('Unliked')};
                   $('#'+name+'-unlike').text('Unlikes: ' + response.unlikes_count );
                    $('#'+name+'-like').text('Likes: ' + response.likes_count );
                },
                error: function(rs, e) {
                       alert(rs.responseText);
                }
          }); 
    }

function unlikepost(name){
		console.log(name);
      $.ajax({
               type: "POST",
               url: "{% url 'lectut:unlike' %}",
               data: {'post_id': name, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
	$('#status').text("")
					$('#'+name+'-status').text("")
                    if( response.like!=0){ $('#'+name+'-status').text('Liked')};
                    if(response.unlike !=0) {$('#'+name+'-status').text('Unliked')};
                    $('#'+name+'-unlike').text('Unlikes: ' + response.unlikes_count );
                    $('#'+name+'-like').text('Likes: ' + response.likes_count );
                },
                error: function(rs, e) {
                       alert(rs.responseText);
                }
          }); 
    }   
</script>