<h1>{{ course.courseName }}</h1>
    {% if messages %}
<ul class="messages">
    	{% for message in messages %}
    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    	{% endfor %}
</ul>
	{% endif %}
<h2> New Post</h2>
<form action="{% url 'lectut:posting' course.id %}" method="post">
{% csrf_token %}
{{ form1 }}
<input type="submit" value="Post" />
</form>

<h2>POSTS</h2>

	{% for pos in course.post_set.all reversed %}
	<ul>
		<li><ul><li>{{ pos.post}}</li><li>Posted on : {{ pos.pub_time}}</li>
		<li>Posted by : <a href="{% url 'lectut:userprofile' pos.poster %}">{{ pos.poster }}</a></li>
		<li><form action="{% url 'lectut:commenting' course.id pos.id%}" method="post">
			{% csrf_token %}
			{{ form2 }}
			<input type="submit" value="Post" />
			</form>
			{% for com in pos.comment_set.all reversed %}
			<ul>
				<li>{{ com.comment}}</li><li>{{ com.pub_time}}</li>
				<li><a href="{% url 'lectut:userprofile' com.commenter %}">By: {{ com.commenter }}</a></li>
			</ul>
			{% endfor %}
		</li>	
		</ul>
	</ul>
	{% endfor%}

<h2><a href="{% url 'lectut:logo' %}">LOGOUT</a></h2>	
<h2><a href="{% url 'lectut:homepage' %}">HOME</a></h2>